.post-image {
    color: black !important;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 40vw !important;
}

input[type="text"], textarea, #contents {
    width: 40vw !important;
}

label {
    text-align: left;
}

#preview {
    position: relative !important;
    margin-left: auto !important;
    margin-right: auto !important;
    background-color: lightgray;
    width: 30vw !important;
    height: auto !important;
}

#tagList {
    display: flex;
    margin-top: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

input[type="checkbox"] {
    margin-left: 5px;
    margin-right: 5px;
}

@media screen and (max-width: 768px) {
    .post-image {
        width: 80vw !important;
    }
    input[type="text"], textarea, #contents {
        width: 80vw !important;
    }
    #preview {
        width: 80vw !important;
        height: auto !important;
    }
}

