{% extends "layout.html" %}

{% block title %}
    Change Username/Password
{% endblock %}

{% block main %}
    <form action="/change_acc" method="post">
        <div class="mb-3">
            <input autocomplete="off" class="form-control mx-auto w-auto" id="username" name="username" required value="{{ username }}" placeholder="Username (Change or Keep Old Username)" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password_old" name="password_old" required placeholder="Old Password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password_new" name="password_new" required placeholder="New Password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password_new2" name="password_new2" required placeholder="Confirm New Password" type="password">
        </div>
        <div id="warning" style="color: red; display: none;"></div>
        <div id="warning2" style="color: red; display: none;"></div>
        <div id="warning3" style="color: red; display: none;"></div>
        <button class="btn btn-primary" id="submit" type="submit">Change</button>
    </form>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            let bool1 = true,
                bool2 = false,
                bool3 = false;
            document.getElementById('username').onchange = async function() {
                var username = document.getElementById('username').value;
                var aj = new XMLHttpRequest();
                aj.onreadystatechange = function() {
                    if (aj.readyState == 4 && aj.status == 200) {
                        console.log(aj.responseText);
                        var data = JSON.parse(aj.responseText);

                        if ((username != '{{ username }}' && data.result) || (username == '{{ username }}')) {
                            document.getElementById('warning').style.display = "none";
                            document.getElementById('warning').innerHTML = "";
                            bool1 = true;
                            if (bool1 && bool2 && bool3) {
                                document.getElementById('submit').disabled = false;
                            }
                        } else {
                            document.getElementById('warning').style.display = "block";
                            document.getElementById('warning').innerHTML = "Username already exists!";
                            document.getElementById('submit').disabled = true;
                            bool1 = false;
                        }
                    }
                }
                aj.open("GET", "/check_username?username=" + username, true);
                aj.setRequestHeader("X-Requested-With", "XMLHttpRequest");
                aj.send();
            }
            document.getElementById('password_new').oninput = function() {
                var password1 = document.getElementById('password_new').value;
                var password2 = document.getElementById('password_new2').value;
                if (password1.length < 8) {
                    document.getElementById('warning2').style.display = "block";
                    document.getElementById('warning2').innerHTML = "Password must be at least 8 characters long!";
                    document.getElementById('submit').disabled = true;
                    bool2 = false;
                } else {
                    document.getElementById('warning2').style.display = "none";
                    document.getElementById('warning2').innerHTML = "";
                    bool2 = true;
                }
                if (password1 != password2) {
                    document.getElementById('warning3').style.display = "block";
                    document.getElementById('warning3').innerHTML = "Passwords do not match.";
                    document.getElementById('submit').disabled = true;
                    bool3 = false;
                } else {
                    document.getElementById('warning3').style.display = "none";
                    document.getElementById('warning3').innerHTML = "";
                    bool3 = true;
                }
                if (bool1 && bool2 && bool3) {
                    document.getElementById('submit').disabled = false;
                }
            }
            document.getElementById('password_new2').oninput = function() {
                var password1 = document.getElementById('password_new').value;
                var password2 = document.getElementById('password_new2').value;
                if (password1 != password2) {
                    document.getElementById('warning3').style.display = "block";
                    document.getElementById('warning3').innerHTML = "Passwords do not match.";
                    document.getElementById('submit').disabled = true;
                    bool3 = false;

                } else {
                    document.getElementById('warning3').style.display = "none";
                    document.getElementById('warning3').innerHTML = "";
                    bool3 = true;
                    if (bool1 && bool2 && bool3) {
                        document.getElementById('submit').disabled = false;
                    }
                }
            }
        });
    </script>
{% endblock %}