{% extends "layout.html" %}

{% block title %}
    Delete Account
{% endblock %}

{% block main %}
    <div class="container_d">
        <div>
            <h3>Are you sure you want to delete your account?</h3>
            <br>
            <form action="/delete_acc" method="post">
                <button  class="btn btn-primary" name="confirm" type="submit" value="yes">Yes</button>
                <button  class="btn btn-primary" name="confirm" type="submit" value="no">No</button>
            </form>
        </div>
    </div>
{% endblock %}