{% extends "layout.html" %}

{% block title %}
    Transaction History
{% endblock %}

{% block main %}
    <div class="p_table">
        <table class="table table-striped table-borderless table-hover">
            <thead>
                <tr>
                    <th class="left">Symbol</th>
                    <th class="left">Transaction Type</th>
                    <th class="right">Shares</th>
                    <th class="right">Price (Per Share)</th>
                    <th class="right">Transaction Time</th>
                </tr>
            </thead>
            <tbody>
                {% for transaction in transactions %}
                    <tr>
                        <td class="left">{{ transaction["symbol"] }}</td>
                        <td class="left">{{ transaction["t_type"] }}</td>
                        <td class="right">{{ transaction["shares"] }}</td>
                        <td class="right">{{ transaction["t_price"] }}</td>
                        <td class="right">{{ transaction["t_time"] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}