{% extends "layout.html" %}

{% block title %}
    Account Settings
{% endblock %}

{% block main %}
    <div class="container-main o-profile">
        <h1>Account Actions</h1>
        <br><br>
        <div>
            <div>
                <strong>Account Details</strong>
                <p>Change your username, or perhaps password</p>
                <a href="/change_account"><button class="btn btn-primary btn-prof" type="button">Account Details</button></a>
            </div>
            <hr>
            <div>
                <strong>Logout</strong>
                <p>Logout of your account</p>
                <a href="/logout"><button class="btn btn-primary btn-prof" type="button">Logout</button></a>
            </div>
            <hr>
            <div>
                <strong>Delete Account</strong>
                <p>Permanently your account</p>
                <a href="/remove_account"><button class="btn btn-primary btn-prof" type="button">Delete</button></a>
            </div>
        </div>
    </div>
{% endblock %}