{% extends "layout.html" %}

{% block optional_c %}
    <link rel="stylesheet" href="/static/styles/cred.css">
    <script src="/static/scripts/change_account.js"></script>
{% endblock %}

{% block title %}
    Change Username/Password
{% endblock %}

{% block main %}
    <div class="container-main o-profile">
        <h3 style="margin-bottom: 2rem;">Change Account Details</h3>
        <form action="/change_account" method="post">
            <div class="mb-3">
                <label class="form-label">Username</label>
                <input autocomplete="off" class="form-control mx-auto w-auto" id="username" name="username" required value="{{ username }}" placeholder="Username (Change or Keep Old Username)" type="text">
            </div>
            <div class="mb-3">
                <label class="form-label">Password</label>
                <input class="form-control mx-auto w-auto" id="password_old" name="password_old" required placeholder="Old Password" type="password">
            </div>
            <div class="mb-3">
                <label class="form-label">New Password</label>
                <input class="form-control mx-auto w-auto" id="password_new" name="password_new" placeholder="New Password" type="password">
            </div>
            <div class="mb-3">
                <label class="form-label">Confirm New Password</label>
                <input class="form-control mx-auto w-auto" id="password_new2" name="password_new2" placeholder="Confirm New Password" type="password">
            </div>
            <div id="warning" style="color: red; display: none;"></div>
            <div id="warning2" style="color: red; display: none;"></div>
            <div id="warning3" style="color: red; display: none;"></div>
            <br>
            <button class="btn btn-primary btn-prof btn-submit" id="submit_button" type="submit">
                <span class="btn_text">Save Changes</span>
            </button>
        </form>
    </div>

    <script>
        const old_username = '{{ username }}'
    </script>
{% endblock %}