{% extends "layout.html" %}

{% block optional_c %}
    <script src="/static/scripts/change_account.js"></script>
{% endblock %}

{% block title %}
    Change Username/Password
{% endblock %}

{% block main %}
    <div class="container-main">
        <h1 style="margin-bottom: 5vh;">Account Details</h1>
        <form action="/change_account" method="post">
            <div class="mb-3">
                <input autocomplete="off" class="form-control mx-auto w-auto" id="username" name="username" required value="{{ username }}" placeholder="Username (Change or Keep Old Username)" type="text">
            </div>
            <div class="mb-3">
                <input class="form-control mx-auto w-auto" id="password_old" name="password_old" required placeholder="Old Password" type="password">
            </div>
            <div class="mb-3">
                <input class="form-control mx-auto w-auto" id="password_new" name="password_new" required placeholder="New Password" type="password">
            </div>
            <div class="mb-3">
                <input class="form-control mx-auto w-auto" id="password_new2" name="password_new2" required placeholder="Confirm New Password" type="password">
            </div>
            <div id="warning" style="color: red; display: none;"></div>
            <div id="warning2" style="color: red; display: none;"></div>
            <div id="warning3" style="color: red; display: none;"></div>
            <button class="btn btn-primary" id="submit" type="submit">Change</button>
        </form>
    </div>

    <script>
        const old_username = '{{ username }}'
    </script>
{% endblock %}