{% extends "layout.html" %}

{% block optional_c %}
    <link href="/static/styles/friends.css" rel="stylesheet">
    <script src="/static/scripts/friends.js"></script>
{% endblock %}

{% block title %}
    Friends
{% endblock %}

{% block main %}
    <div class="container-main">
        <div class="bar">
            <div id="friends-logo">
                <div>
                    <img src="/static/images/friends-icon.png" alt="friend-logo" width="40px">
                    <span>Friends</span>
                </div>
            </div>
            <div id="tabs">
                <div>
                    <button id="all_button" class="btn btn-primary btn-prof btn-tab">All Friends</button>
                    <button id="req_button" class="btn btn-primary btn-prof btn-tab">Friend Requests</button>
                    <button id="recom_button" class="btn btn-primary btn-prof btn-tab">Recommendations</button>
                </div>
            </div>
        </div>
        <div class="o-profile" style="margin-top: 2.5vh;">
            <div id="all_tab">
                <h3>All Friends</h3>
                {% if friends %}
                    {% for friend in friends %}
                        <div id="{{ friend['id'] }}" class="friend-box">
                            <div class="friend-info">
                                <div class="profile-pic" style="width: 50px; height: 50px;"><img src="/static/images/user_profile_pic.png"></div>
                                <div style="margin-left: 0.5vw; text-align: left;">
                                    <div class="name"><a href="/profile?username={{ friend['username'] }}" style="text-decoration: none; color: inherit;">{{ friend['fullname'] }}</a></div>
                                    <div class="username"><a href="/profile?username={{ friend['username'] }}" style="text-decoration: none; color: inherit;">@{{ friend['username'] }}</a></div>
                                </div>
                            </div>
                            <div class="actions">
                                <button name="remove_button" class="action-button" value="{{ friend['id'] }}" type="button"><img src="/static/images/remove-friend.png"></button>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    You don't seem to have added any friends yet!
                {% endif %}
            </div>
            <div id="req_tab" style="display: none">
                <h3>Friend Requests</h3>
                {% if requests %}
                    {% for friend in requests %}
                        <div id="{{ friend['id'] }}" class="friend-box">
                            <div class="friend-info">
                                <div class="profile-pic" style="width: 50px; height: 50px;"><img src="/static/images/user_profile_pic.png"></div>
                                <div style="margin-left: 0.5vw; text-align: left;">
                                    <div class="name"><a href="/profile?username={{ friend['username'] }}" style="text-decoration: none; color: inherit;">{{ friend['fullname'] }}</a></div>
                                    <div class="username"><a href="/profile?username={{ friend['username'] }}" style="text-decoration: none; color: inherit;">@{{ friend['username'] }}</a></div>
                                </div>
                            </div>
                            <div class="actions">
                                <button name="accept_button" class="action-button" value="{{ friend['id'] }}" type="button"><img style="width: 85%; height: auto;" src="/static/images/Tick-logo.png"></button>
                                <button name="reject_button" class="action-button" value="{{ friend['id'] }}" type="button"><img style="width: 85%; height: auto;" src="/static/images/cross-logo.png"></button>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    You don't have any friend requests!
                {% endif %}
            </div>
            <div id="recom_tab" style="display: none">
                <h3>Friend Recommendations</h3>
                {% if recommendations %}
                    {% for people in recommendations %}
                        <div id="{{ people['id'] }}" class="friend-box">
                            <div class="friend-info">
                                <div class="profile-pic" style="width: 50px; height: 50px;"><img src="/static/images/user_profile_pic.png"></div>
                                <div style="margin-left: 0.5vw; text-align: left;">
                                    <div class="name"><a href="/profile?username={{ people['username'] }}" style="text-decoration: none; color: inherit;">{{ people['fullname'] }}</a></div>
                                    <div class="username"><a href="/profile?username={{ people['username'] }}" style="text-decoration: none; color: inherit;">@{{ people['username'] }}</a></div>
                                </div>
                            </div>
                            <div class="actions">
                                <button name="add_recommendation_button" class="action-button" value="{{ people['id'] }}" type="button"><img src="/static/images/add-friend.png"></button>
                                <button name="remove_recommendation_button" class="action-button" value="{{ people['id'] }}" type="button"><img style="width: 85%; height: auto;" src="/static/images/cross-logo.png"></button>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    This place seems empty!
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}