{% extends "layout.html" %}

{% block optional_c %}
    <link rel="stylesheet" href="/static/styles/inbox.css">
{% endblock %}

{% block title %}
    Inbox
{% endblock %}

{% block main %}
    <div class="container-main">
        <div class="bar">
            <div class="logo" style="width: 100%;">
                <img src="/static/images/inbox.png" alt="inbox-logo" width="40px">
                <div class="logo-text" style="margin-left: 10px;">Inbox</div>
            </div>
        </div>
        <div class="o-profile" style="margin-top: 2rem;">
            {% if inbox %}
                {% for chat in inbox %}
                    <div id="{{ chat['user_id'] }}" class="chat-box">
                        <div class="person-info">
                            <div class="profile-pic" style="width: 2.5rem; height: 2.5rem;"><a href="/profile?username={{ chat['username'] }}" style="text-decoration: none; color: inherit;"><img src="/static/images/user_profile_pic.png"></div></a>
                            <div style="margin-left: 0.5vw; text-align: left;">
                                <div class="name"><a href="/profile?username={{ chat['username'] }}" style="text-decoration: none; color: inherit;">{{ chat['fullname'] }}</a></div>
                                <div class="username"><a href="/profile?username={{ chat['username'] }}" style="text-decoration: none; color: inherit;">@{{ chat['username'] }}</a></div>
                            </div>
                        </div>
                        <div class="bottom-part">
                            <span><strong>Messages Exchanged:</strong> {{ chat["messages"] }}</span>
                            {% if chat["last_message"] %}
                                <span><strong> Most Recent:</strong> {{ chat["last_message"] }}</span>
                            {% endif %}
                        </div>
                        <div class="actions">
                            <div class="action-button">
                                <a href="/inbox/{{ chat['user_id'] }}"><button class="action-button" type="button"><img alt="chat" src="/static/images/comments.png"></button></a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div style="padding: 1rem;">
                    You don't seem to have any chats open yet.
                    <br>
                    <a href="/friends">Start chatting with your friends!</a>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}