{% extends "layout.html" %}

{% block optional_c %}
    <link rel="stylesheet" href="/static/styles/cred.css">
    <script src="/static/scripts/login.js"></script>
{% endblock %}

{% block title %}
    Login
{% endblock %}

{% block main %}
    <div class="container-main o-profile">
        <h3>Login</h3>
        <form action="/login" method="post">
            <div class="mb-3">
                <label class="form-label">Username</label>
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" required placeholder="Username" type="text">
            </div>
            <div class="mb-3">
                <label class="form-label">Password</label>
                <input class="form-control mx-auto w-auto" id="password" name="password" required placeholder="Password" type="password">
            </div>
            <p id="warning" style="color: red; margin-bottom: 5px;"></p>
            <div>
                <a href="/register">Don't have an account?</a>
            </div>
            <br>
            <button class="btn btn-primary btn-submit" type="submit">
                <span class="btn_text">Log In</span>
            </button>
        </form>
    </div>
{% endblock %}