{% extends "layout.html" %}

{% block title %}
    Login
{% endblock %}

{% block main %}
    <div class="container-main">
        <form action="/login" method="post">
            <div class="mb-3">
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" required placeholder="Username" type="text">
            </div>
            <div class="mb-3">
                <input class="form-control mx-auto w-auto" id="password" name="password" required placeholder="Password" type="password">
            </div>
            <div>
                <a href="/register">Don't have an account?</a>
            </div>
            <br>
            <button class="btn btn-primary" type="submit">Log In</button>
        </form>
    </div>
{% endblock %}