{% extends "layout.html" %}

{% block optional_c %}
    <link rel="stylesheet" href="/static/styles/posts.css">
{% endblock %}

{% block title %}
    {{ post["title"] }}
{% endblock %}

{% block main %}
    <div class="container-main">
        <div class="o-profile">
            <div id="post_box" class="post-box" post_id="{{ post['id'] }}" interaction_status="{{ post['status'] }}">
                <div class="top-part">
                    <div class="user-info">
                        <a href="/profile?username={{ post['username'] }}"><div class="profile-pic-post"><img src="/static/images/user_profile_pic.png"></div></a>
                        <div style="margin-left: 0.5vw; text-align: left;">
                            <div class="name"><a href="/profile?username={{ post['username'] }}">{{ post["fullname"] }}</a></div>
                            <div class="username"><a href="/profile?username={{ post['username'] }}">@{{ post["username"] }}</a></div>
                        </div>
                    </div>
                    <div class="post-title" style="font-size: 2rem;"><a href="/post?id={{ post['id'] }}">{{ post["title"] }}</a></div>
                    <div class="post-timestamp">
                        <div>{{ post["date"] }}</div>
                        <div>{{ post["time"] }}</div>
                    </div>
                </div>
                <div>
                    <div class="post-image">
                        {% if post["imagelocation"] %}
                            <img style="width: 70%" src="{{ post['imagelocation'] }}">
                        {% endif %}
                    </div>
                </div>
                <div class="contents">
                    {{ post["contents"] }}
                </div>
                <div class="tags">
                    {% for tag in post["tags"] %}
                        <div class="tag">#{{ tag }}</div>
                    {% endfor %}
                </div>
                <div class="actions">
                    <div class="btn-left">
                        <button id="like_button" name="like_button" value="{{ post['id'] }}" class="action-button btn-big" type="button">
                            {% if post["status"] == 1 %}
                                <img src="/static/images/like.png">
                            {% else %}
                                <img src="/static/images/like-uncolored.png">
                            {% endif %}
                        </button>
                        <div id="like_count" class="like_count">
                            {{ post["likes"] }}
                        </div>
                        <button id="dislike_button" name="dislike_button" value="{{ post['id'] }}" class="action-button btn-big" type="button">
                            {% if post["status"] == 2 %}
                                <img src="/static/images/dislike.png">
                            {% else %}
                                <img src="/static/images/dislike-uncolored.png">
                            {% endif %}
                        </button>
                        <button id="share_button" name="share_button" value="{{ post['id'] }}" class="action-button" type="button"><img src="/static/images/share.png"></button>
                    </div>
                    <div id="warning" style="width: 40%; font-size: medium;"></div>
                    <div class="btn-right">
                        {% if post["owner"] == 1 %}
                            <a href="/edit_post?post_id={{ post['id'] }}"><button  id="edit_button" name="edit_button" value="{{ post['id'] }}" class="action-button" type="button"><img src="/static/images/edit.png" style="height: 3rem; "></button></a>
                            <button id="delete_button" name="delete_button" value="{{ post['id'] }}" class="action-button" type="button"><img src="/static/images/delete.png"> </button>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div id="delete_popup" style="display: none" class="popup">
                <h3>Title: <span id="popup_title"></span></h3>
                Likes: <span id="popup_likes"></span>
                Comments: <span id="popup_comments"></span>
                <h4>Delete post? This is an irreversible action.</h4>
                <form>
                    <button class="btn btn-primary btn-prof" type="button" id="delete_yes" value="yes">Yes</button>
                    <button class="btn btn-primary btn-prof" type="button" id="delete_no" value="no">No</button>
                </form>
            </div>
        </div>
    </div>

    <script>
        {% if post["owner"] %}
            owner = true;
        {% else %}
            owner = null;
        {% endif %}

        const comments = {{ post['comments'] }};

        document.addEventListener('DOMContentLoaded', function() {
            const comment_count = comments;

            const post_id = document.getElementById('post_box').getAttribute('post_id');
            let status = document.getElementById('post_box').getAttribute('interaction_status');

            const like_button = document.getElementById('like_button');
            const dislike_button = document.getElementById('dislike_button');
            const share_button = document.getElementById('share_button');

            const popup = document.getElementById('delete_popup');

            if (owner) {
                const edit_button = document.getElementById('edit_button');
                const delete_button = document.getElementById('delete_button');
            }

            // Manage like button
            like_button.onclick = async function() {
                // Disable button for a short period
                like_button.disabled = true;

                var like_count = document.getElementById('post_box').querySelector('#like_count');
                if (!like_count || post_id != like_button.value) {
                    window.location.reload();
                }

                var aj = new XMLHttpRequest();
                aj.onreadystatechange = async function() {
                    if (aj.readyState == 4 && aj.status == 200) {
                        var data = JSON.parse(aj.responseText);

                        if (data.result) {
                            var button_image = like_button.querySelector('img');

                            // Manages active dislike button of a post when like button is clicked
                            document.getElementById('post_box').querySelector('[name="dislike_button"]').querySelector('img').src = "/static/images/dislike-uncolored.png";

                            if (status == 1) {
                                // Unliked
                                button_image.src = "/static/images/like-uncolored.png";
                                like_count.innerHTML = parseInt(like_count.innerHTML) - 1;
                                status = 0;
                            } else {
                                // Liked
                                button_image.src = "/static/images/like.png";

                                if (status == 0) {
                                    like_count.innerHTML = parseInt(like_count.innerHTML) + 1;
                                } else {
                                    like_count.innerHTML = parseInt(like_count.innerHTML) + 2;
                                }

                                status = 1;
                            }

                            // Update post interaction status
                            document.getElementById('post_box').setAttribute('interaction_status', status);

                            // Enable button after 1500 ms
                            setTimeout(function() {
                                like_button.disabled = false;
                            }, 1500);
                        }
                    }
                };

                aj.open("POST", "/manage_likes", true);
                aj.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
                aj.setRequestHeader("X-Requested-With", "XMLHttpRequest");
                aj.send("post_id=" + post_id + "&action=" + "like");
            };

            // Manage dislike button
            dislike_button.onclick = async function() {
                // Disable button for a short period
                dislike_button.disabled = true;

                var like_count = document.getElementById('post_box').querySelector('#like_count');

                if (!like_count || post_id != dislike_button.value) {
                    window.location.reload();
                }

                var aj = new XMLHttpRequest();
                aj.onreadystatechange = async function() {
                    if (aj.readyState == 4 && aj.status == 200) {
                        var data = JSON.parse(aj.responseText);

                        if (data.result) {
                            var button_image = dislike_button.querySelector('img');

                            // Manages active like button of a post when dislike button is clicked
                            document.getElementById('post_box').querySelector('[name="like_button"]').querySelector('img').src = "/static/images/like-uncolored.png";

                            if (status == 2) {
                                // Removed Dislike
                                button_image.src = "/static/images/dislike-uncolored.png";
                                like_count.innerHTML = parseInt(like_count.innerHTML) + 1;
                                status = 0;
                            } else {
                                // Disliked
                                button_image.src = "/static/images/dislike.png";

                                if (status == 0) {
                                    like_count.innerHTML = parseInt(like_count.innerHTML) - 1;
                                } else {
                                    like_count.innerHTML = parseInt(like_count.innerHTML) - 2;
                                }

                                status = 2;
                            }

                            // Update post interaction status
                            document.getElementById('post_box').setAttribute('interaction_status', status);

                            // Enable button after 1500 ms
                            setTimeout(function() {
                                dislike_button.disabled = false;
                            }, 1500);
                        }
                    }
                };

                aj.open("POST", "/manage_likes", true);
                aj.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
                aj.setRequestHeader("X-Requested-With", "XMLHttpRequest");
                aj.send("post_id=" + post_id + "&action=" + "dislike");
            };

            // Share button
            share_button.onclick = function() {
                event.preventDefault();
                navigator.clipboard.writeText(window.location.href).then(function() {
                    warning.style.color = "green";
                    warning.innerHTML = "Post link copied to clipboard!";
                }, function(err) {
                    warning.style.color = "red";
                    warning.innerHTML = "Could not copy link to clipboard!";
                });
                setTimeout(function() {
                    warning.innerHTML = "";
                }, 1500);
            }

            // Manage post deletion
            if (owner) {
                delete_button.onclick = function() {
                    document.getElementById('popup_title').innerHTML = document.getElementById('post_box').querySelector('.post-title').innerHTML;
                    document.getElementById('popup_likes').innerHTML = document.getElementById('post_box').querySelector('#like_count').innerHTML;
                    document.getElementById('popup_comments').innerHTML = comment_count;

                    popup.style.display = 'block';
                    document.body.style.overflow = 'hidden';

                    document.getElementById('delete_yes').onclick = async function() {
                        var aj = new XMLHttpRequest();

                        aj.onreadystatechange = async function() {
                            if (aj.readyState == 4 && aj.status == 200) {
                                var data = JSON.parse(aj.responseText);
                                if (data.result) {
                                    window.location.replace("http://127.0.0.1:5000/posts");
                                }
                            }
                        };

                        aj.open("POST", "/delete_post", true);
                        aj.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
                        aj.setRequestHeader("X-Requested-With", "XMLHttpRequest");
                        aj.send("post_id=" + post_id);
                    };

                    document.getElementById('delete_no').onclick = function() {
                        popup.style.display = 'none';
                        document.body.style.overflow = 'auto';
                    };
                };
            }
        });
    </script>
{% endblock %}