{% extends "layout.html" %}

{% block optional_c %}
    <link href="/static/styles/posts.css" rel="stylesheet">
    <script src="/static/scripts/posts.js"></script>
{% endblock %}

{% block title %}
    Posts
{% endblock %}

{% block main %}
    <div class="container-main">
        <div class="bar">
            <div id="posts-logo">
                <div>
                    <img src="/static/images/friends-icon.png" alt="posts-logo" width="40px">
                    <span id="posts-logo-text">Posts</span>
                </div>
            </div>
            <div id="tabs">
                <div>
                    <a href="/createpost"><button id="search_button" class="btn btn-primary btn-prof btn-tab">Create A Post</button></a>
                    <button id="my_button" class="btn btn-primary btn-prof btn-tab">My Posts</button>
                    <button id="friends_button" class="btn btn-primary btn-prof btn-tab">Friends' Posts</button>
                </div>
            </div>
        </div>
        <br>
        <div id="my_posts" class="o-profile" style="padding-top: 1rem;">
            <h4>My Posts</h4>
            {% if my_posts %}
                {% for post in my_posts %}
                    <div class="posts" id="{{ post['id'] }}" data-value = "{{ post['status'] }}">
                        <div class="post-box">
                            <div class="top-part">
                                <div class="user-info">
                                    <a href="/profile"><div class="profile-pic-post"><img src="/static/images/user_profile_pic.png"></div></a>
                                    <div style="margin-left: 0.5vw; text-align: left;">
                                        <div class="name"><a href="/profile">{{ my_name }}</a></div>
                                        <div class="username"><a href="/profile">@{{ my_username }}</a></div>
                                    </div>
                                </div>
                                <div class="post-title"><a href="/post?id={{ post['id'] }}">{{ post["title"] }}</a></div>
                                <div class="post-timestamp">
                                    <div>{{ post['date'] }}</div>
                                    <div>{{ post['time'] }}</div>
                                </div>
                            </div>
                            <div>
                                {% if post['imagelocation'] %}
                                    <div class="post-image">
                                        <img src="{{ post['imagelocation'] }}"></img>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="contents">
                                <p style="white-space: pre-line">{{ post["contents"] }}</p>
                            </div>
                            <div class="tags">
                                {% for tag in post["tags"] %}
                                    <div class="tag">#{{ tag }}</div>
                                {% endfor %}
                            </div>
                            <div class="actions">
                                <div class="btn-left">
                                    <button name="like_button" value="{{ post['id'] }}" class="action-button btn-big" type="button">
                                        {% if post["status"] == 1 %}
                                            <img src="/static/images/like.png">
                                        {% else %}
                                            <img src="/static/images/like-uncolored.png">
                                        {% endif %}
                                    </button>
                                    <div class="like_count">
                                        {{ post["likes"] }}
                                    </div>
                                    <button name="dislike_button" value="{{ post['id'] }}" class="action-button btn-big" type="button">
                                        {% if post["status"] == 2 %}
                                            <img src="/static/images/dislike.png">
                                        {% else %}
                                            <img src="/static/images/dislike-uncolored.png">
                                        {% endif %}
                                    </button>
                                    <a href="/post?id={{ post['id'] }}#comments"><button name="comment_button" value="{{ post['id'] }}" comment_count="{{ post['comments'] }}" class="action-button" type="button"><img src="/static/images/comments.png"></button></a>
                                    <button name="share_button" value="{{ post['id'] }}" class="action-button" type="button"><img src="/static/images/share.png"></button>
                                </div>
                                <div class="warning" style="width: 40%; font-size: medium;"></div>
                                <div class="btn-right">
                                    <a href="/edit_post?post_id={{ post['id'] }}"><button  name="edit_button" value="{{ post['id'] }}" class="action-button" type="button"><img src="/static/images/edit.png" style="height: 3rem; "></button></a>
                                    <button  name="delete_button" value="{{ post['id'] }}" class="action-button" type="button"><img src="/static/images/delete.png"> </button>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <div id="delete_popup" style="display: none" class="popup">
                    <h3>Title: <span id="popup_title"></span></h3>
                    Likes: <span id="popup_likes"></span>
                    Comments: <span id="popup_comments"></span>
                    <h4>Delete post? This is an irreversible action.</h4>
                    <form>
                        <button class="btn btn-primary btn-prof" type="button" id="delete_yes" value="yes">Yes</button>
                        <button class="btn btn-primary btn-prof" type="button" id="delete_no" value="no">No</button>
                    </form>
                </div>
            {% else %}
                <div>This place seems empty. Perhaps considering livening it up?</div>
                <div style="padding-bottom: 1rem;"><a href="/createpost">Create a post?</a></div>
            {% endif %}
        </div>

        <div id="friend_posts" style="display: none;" class="o-profile" style="padding-top: 1rem;">
            <h4 style="margin-top: 10px;">Friends' Posts</h4>
            {% if friend_posts %}
                {% for post in friend_posts %}
                    <div class="posts" id="{{ post['id'] }}" data-value = "{{ post['status'] }}">
                        <div class="post-box">
                            <div class="top-part">
                                <div class="user-info">
                                    <a href="/profile?username={{ post['username'] }}"><div class="profile-pic-post"><img src="/static/images/user_profile_pic.png"></div></a>
                                    <div style="margin-left: 0.5vw; text-align: left;">
                                        <div class="name"><a href="/profile?username={{ post['username'] }}">{{ post["fullname"] }}</a></div>
                                        <div class="username"><a href="/profile?username={{ post['username'] }}">@{{ post["username"] }}</a></div>
                                    </div>
                                </div>
                                <div class="post-title"><a href="/post?id={{ post['id'] }}">{{ post["title"] }}</a></div>
                                <div class="post-timestamp">
                                    <div>{{ post['date'] }}</div>
                                    <div>{{ post['time'] }}</div>
                                </div>
                            </div>
                            <div>
                                {% if post["imagelocation"] %}
                                    <div class="post-image">
                                        <img src="{{ post['imagelocation'] }}"></img>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="contents">
                                <p style="white-space: pre-line">{{ post["contents"] }}</p>
                            </div>
                            <div class="tags">
                                {% for tag in post["tags"] %}
                                    <div class="tag">#{{ tag }}</div>
                                {% endfor %}
                            </div>
                            <div class="actions">
                                <div class="btn-left">
                                    <button name="like_button" value="{{ post['id'] }}" class="action-button btn-big" type="button">
                                        {% if post["status"] == 1 %}
                                            <img src="/static/images/like.png">
                                        {% else %}
                                            <img src="/static/images/like-uncolored.png">
                                        {% endif %}
                                    </button>
                                    <div class="like_count">
                                        {{ post["likes"] }}
                                    </div>
                                    <button name="dislike_button" value="{{ post['id'] }}" class="action-button btn-big" type="button">
                                        {% if post["status"] == 2 %}
                                            <img src="/static/images/dislike.png">
                                        {% else %}
                                            <img src="/static/images/dislike-uncolored.png">
                                        {% endif %}
                                    </button>
                                    <a href="/post?id={{ post['id'] }}#comments"><button name="comment_button" value="{{ post['id'] }}" comment_count="{{ post['comments'] }}" class="action-button" type="button"><img src="/static/images/comments.png"></button></a>
                                    <button name="share_button" value="{{ post['id'] }}" class="action-button" type="button"><img src="/static/images/share.png"></button>
                                    <div class="warning" style="width: 40%; font-size: medium;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                This place seems empty. Perhaps remind your friends to post more often?
                <br>
            {% endif %}
        </div>
    </div>
{% endblock %}