{% extends "layout.html" %}

{% block optional_c %}
    <link rel="stylesheet" href="/static/styles/cred.css">
    <script src="/static/scripts/register.js"></script>
{% endblock %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <div class="container-main o-profile">
        <h3>Register</h3>
        <form id="registration_form" action="/register" method="post">
            <div class="mb-3">
                <label class="form-label">Username</label>
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" required placeholder="Username" type="text">
                <div id="warning" style="color: red; margin-top: 5px;"></div>
            </div>
            <div class="mb-3">
                <label class="form-label">Name</label>
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="name" name="name" required placeholder="Name" type="text" maxlength="70">
            </div>
            <div class="mb-3">
                <label class="form-label">Password</label>
                <input class="form-control mx-auto w-auto" id="password" name="password" required placeholder="Password" type="password">
                <div id="warning2" style="color: red; margin-top: 5px;"></div>
            </div>
            <div class="mb-3">
                <label class="form-label">Confirm Password</label>
                <input class="form-control mx-auto w-auto" id="confirm" name="confirm" required placeholder="Confirm Password" type="password">
            </div>
            <div id="warning3" style="color: red; margin-top: 5px;"></div>
            <br>
            <button class="btn btn-primary btn-submit" id="submit_button" name="submit_button" type="submit">
                <span class="btn_text">Create Account</span>
            </button>
        </form>
    </div>
{% endblock %}