{% extends "layout.html" %}

{% block optional_c %}
    <link rel="stylesheet" href="/static/styles/cred.css">
    <script src="/static/scripts/remove_account.js"></script>
{% endblock %}

{% block title %}
    Delete Account
{% endblock %}

{% block main %}
    <div class="container-main o-profile">
        <h1>Are you sure you want to permanently delete your account?</h1>
        <p>We're sorry to see you go!</p>
        <p>If you're sure you want to delete your account, please be aware that this action is irreversible. Once you delete your account, all your data, posts, messages, and connections will be permanently removed. You will lose access to your profile, and there is no way to recover your account.</p>
        <p>To delete your account, please enter your password below to confirm your identity:</p>
        <form action="/remove_account" method="post">
            <div class="mb-3">
                <input id="password" class="form-control mx-auto w-auto" name="password" autocomplete="off" type="password" placeholder="Password">
            </div>
            <p id="warning" style="color: red;"></p>
            <button class="btn btn-primary btn-prof" value="Yes" name="confirmation" type="submit">Confirm</button>
            <button class="btn btn-primary btn-prof" value="No" name="confirmation" type="button" onclick="history.back();">Cancel</button>
        </form>
    </div>
{% endblock %}