{% extends "layout.html" %}

{% block title %}
    Welcome
{% endblock %}

{% block main %}
    <div class="container-main welcome">
        <div class="red">
            <h1>Welcome to XFiesta!</h1>
        </div>
        <br>
        <div class="container" style="background-color: transparent;">
            <p>We're thrilled to have you join us on this exciting journey of connection and interaction. Whether you're here to reconnect with friends, make new ones, share your passions, or simply explore the vibrant tapestry of our online world, you've come to the right place.</p>
            <p>Our mission is to provide a safe and inclusive space where people from all walks of life can come together, express themselves, and engage in meaningful conversations. Here, you'll find a wide range of features and tools to help you connect with others, including:</p>
            <div><strong>Profiles:</strong> Create your unique online identity and let the world know who you are.</div>
            <div><strong>Feeds:</strong> Share your thoughts, experiences, and moments with your friends and followers.</div>
            <div><strong>Groups:</strong> Join or create communities around your interests and passions.</div>
            <div><strong>Messaging:</strong> Keep in touch with friends and family through private messaging.</div>
            <div><strong>Events:</strong> Discover and RSVP to events happening in your area or ondivne.</div>
            <div><strong>Privacy:</strong> We take your privacy seriously, and you have control over who can see your content.</div>
            <div><strong>Safety:</strong> Our dedicated team works tirelessly to ensure a safe and respectful environment for all users.</div>
            <p>Remember, this is your space to shine, so be yourself, be kind, and make the most of your time here. Explore, connect, and enjoy the journey of socializing in the digital age.</p>
            <p>We can't wait to see what you'll bring to our community and the connections you'll make. Welcome aboard, and let the social adventure begin!</p>
            <p>If you have any questions or need assistance, don't hesitate to reach out to our support team. Happy socializing!</p>
        </div>
        <br>
        <form>
            <div>
                <a href="/login"><button class="btn btn-primary" type="button">Log-In</button></a>
                <a href="/login"><button class="btn btn-primary" type="button">Register</button></a>
            </div>
        </form>
        <br><br>
    </div>
{% endblock %}