body {
    display: none;
}

.top-bar {
    background-color: aliceblue;
    width: 98%;
    display: flex;
    border: 2px solid transparent;
    justify-content: center;
    border-radius: 10px;
    padding: 5px 5px;
    margin: 10px 10px;
}

.name {
    font-size: 12px !important;
}

.username {
    font-size: 10px !important;
}

.chat-container {
    width: 98%;
    padding: 5px 5px;
    margin: 10px 10px;
    border: 2px solid transparent;
    border-radius: 10px;
    background-color: white;
    height: 80vh;
    max-height: 80vh;
    overflow-y: auto;
    overflow-x: hidden;
}

#no-message {
    width: 100%;
    height: 85%;
    text-align: center;
    display: none;
    justify-content: center;
    align-items: center;
}

.message-container {
    background-color: white;
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 5px 5px;
    padding-bottom: 0px;
}

.message-container:hover {
    background-color: #f0f0f0;
}

.top-part {
    display: flex;
    flex-direction: row;
}

.name {
    width: fit-content;
}

a {
    text-decoration: none;
    color: inherit;
}

.action-button {
    height: 1.5rem !important;
    width: 1.5rem !important;
}

.btn-big img {
    width: 1.5rem !important;
}

.send-message {
    display: flex;
    max-width: 100%;
}

.send-box {
    width: 85vw !important;
    margin-right: 10px;
}

.warning {
    display: none;
    color: red;
    font-size: small;
    margin-bottom: 5px;
}

#send_warning {
    display: none;
    color: red;
    font-size: medium;
    margin-bottom: 10px;
}

@media screen and(max-width: 768px) {
    .chat-container {
        width: 90% !important;
    }
}
