.bar {
    background-color: aliceblue;
    border: 5px solid transparent;
    border-radius: 10px;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
    display: flex;
    justify-content: center;
}

.friend-box {
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2vh;
    border: 5px solid transparent;
    border-radius: 10px;
    background-color: white;
    display: flex;
    justify-content: center;
    transition: 0.25s background-color ease-in-out;
}

.friend-box:hover {
    background-color: #f0f0f0;
}

.friend-info {
    display: flex;
    margin-left: 2vw;
    justify-content: left;
    width: 80vw;
}

#friends-logo {
    display: flex;
    width: 30%;
    margin-left: 1vw;
    justify-content: left;
}

#tabs {
    display: flex;
    width: 70%;
    margin-right: 1vw;
    justify-content: right;
}

.actions {
    width: 10vw;
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 2vw;
    display: flex;
    justify-content: right;
    align-items: center;
}

.name {
    font-size: 20px;
    font-weight: 700;
}

.username {
    font-size: smaller;
}

.action-button {
    width: 3.25vw;
    height: 3.25vw;
    border: 0.25px solid white;
    border-radius: 50%;
    margin-left: 2.5px;
    margin-right: 2.5px;
    overflow: hidden;
    background-color: white;
}

.action-button:hover {
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}

.action-button:active {
    transform: translateY(2px);
}

.action-button img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    -webkit-user-drag: none;
    user-select: none;
}

@media screen and (max-width: 768px) {
    .action-button:hover {
        box-shadow: none;
    }
    .friend-box {
        width: 80vw;
    }
    .friend-box:hover {
        background-color: white;
    }
    #friends-logo {
        height: 2rem !important;
        width: auto;
        margin-top: -1%;
        margin-left: 0rem;
    }
    .btn-tab {
        height: 2rem !important;
        width: auto !important;
        padding: 0px 0.2rem;
    }
}