a {
    text-decoration: none;
    color: inherit;
}

h6 {
    font-weight: bold;
    font-size: 1.1rem;
}

.bar {
    background-color: aliceblue;
    width: 95%;
    border: 5px solid transparent;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}

.user {
    width: 25%;
    margin-left: 2.5%;
    display: flex;
    justify-content: left;
}

.create-post {
    width: 50%;
    margin-right: 1%;
}

.create-post-button {
    width: 100%;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.6);
}

.notifications {
    width: 25%;
    margin-right: 2.5%;
    display: flex;
    justify-content: right;
}

.dropdown {
    width: 80%;
    margin-right: 0%;
}

.notifications-button {
    width: 100%;
    background-color: white !important;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.6);
}

.notification-count {
    display: inline-block;
    padding: 2.5px 5px;
    background-color: lightblue;
    color: black;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
}

.dropdown-menu {
    width: 100%;
    background-color: white;
    max-height: 15rem;
    overflow-x: auto;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.6);
}

.notif {
    margin-bottom: 5px;
    border: 1px solid transparent;
    border-radius: 5px;
}

.notif-unread {
    background-color: aliceblue;
}

.notif:hover {
    background-color: lightblue;
}

#no_notifications {
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

.dropdown-item {
    display: flex;
    flex-wrap: wrap;
    white-space: normal;
    overflow: hidden;
}

.dropdown-item:hover {
    background-color: inherit;
}

.dropdown-item:active {
    color: black;
    background-color: inherit;
}

.mark-as-read {
    display: block;
    text-decoration: underline;
    width: 95% !important;
    margin-right: 5%;
    color: black;
    text-align: right;
    cursor: pointer;
}

.main-contents {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

.o-profile {
    margin-top: 2.5rem;
}

.post-feed {
    width: 67.5%;
    margin-right: 2.5%;
    padding: 10px 5px;
}

.right-part {
    width: 35%;
    display: flex !important;
    flex-direction: column !important;
    justify-content: flex-start !important;
}

.recommended-friends, .open-chats {
    width: 100%;
    padding: 10px 5px;
    margin-bottom: 0px;
    max-height: 30rem;
    overflow-x: auto;
}

.user-info {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding: 5px 10px;
    border: 2px solid transparent;
    border-radius: 10px;
    display: flex;
}

.user-info:hover {
    background-color: #f0f0f0;
}

.top-part {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-right: auto;
}

.actions {
    width: 50%;
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    justify-content: right;
}

.action-button {
    width: 2rem;
    height: 2rem;
    border: 1px solid transparent;
    border-radius: 50% !important;
    background-color: white;
    display: flex;
    margin-left: 5px;
    margin-right: 5px;
    justify-content: center;
    align-items: center;
}


.action-button img {
    height: 100%;
    width: auto;
    object-fit: contain;
    -webkit-user-drag: none;
    user-select: none;
    pointer-events: none;
}

.action-button:hover {
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}

.action-button:active {
    transform: translateY(2px);
}


.posts {
    margin: 1rem auto;
    width: 98%;
}

.post-box {
    width: 100%;
    background-color: white;
    font-size: 0.75rem;
    border: 2px solid transparent;
    border-radius: 10px;
}

.post-box:hover {
    background-color: #f0f0f0;
}

.user-info-post {
    width: 8%;
    margin-left: 2%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: left;
    align-items: center;
}

.post-title {
    width: 80%;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

.post-timestamp {
    width: 8%;
    margin-right: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.post-image img {
    width: 40%;
}

.contents {
    width: 90%;
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    font-size: 15px;
}

.tags {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vh;
    margin-bottom: 2vh;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}

.tag {
    margin-left: 5px !important;
    margin-right: 5px !important;
    background-color: #6aaecc;
    padding: 5px;
    border: 2px solid transparent;
    border-radius: 10px;
}

.actions-post {
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
}

.action-button-post {
    width: 2rem;
    height: 2rem;
    border: 2px solid transparent;
    border-radius: 10px !important;
    background-color: white;
    display: flex;
    margin-left: 5px;
    margin-right: 5px;
    justify-content: center;
    align-items: center;
}

.btn-left {
    margin-left: 10px;
    margin-bottom: 10px;
    width: 50%;
    display: flex;
    justify-content: left;
}

.btn-right {
    margin-right: 10px;
    margin-bottom: 10px;
    width: 50%;
    display: flex;
    justify-content: right;
}

.action-button-post img {
    height: 90%;
    width: auto;
    object-fit: cover;
    -webkit-user-drag: none;
    user-select: none;
    pointer-events: none;
}

.btn-big img {
    width: 4rem;
    height: 4rem;
}

.like_count {
    font-size: 1rem;
    margin-top: auto;
    margin-bottom: auto;
}

#delete_popup {
    width: 90%;
    padding: 3rem 2rem;
    background-color: white;
    display: none;
    border: 2px solid transparent;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.warning {
    width: 40%;
    height: 100%;
    display: none;
    font-size: medium;
    color: red;
}

@media screen and (max-width: 768px) {
    .create-post {
        display: none;
    }

    .user {
        width: 40%;
        justify-content: left;
    }

    .notifications {
        width: 60% !important;
    }
}