.bar {
    background-color: aliceblue;
    border: 5px solid transparent;
    border-radius: 10px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 50% !important;
    display: flex;
    justify-content: left;
    width: 30%;
    margin-left: 1rem;
}

.logo img {
    width: 45px;
    -webkit-user-drag: none;
    user-select: none;
    pointer-events: none;
}

.logo-text {
    font-size: 1.1rem;
    font-weight: 700;
    margin-top: auto;
    margin-bottom: auto;
}

.mark-all-as-read {
    width: 50%;
    display: flex;
    justify-content: right;
    padding-right: 1rem;
}

.mark-all-as-read button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.notifications {
    margin-top: 2rem !important;
    padding: 1rem 10px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: left;
}

.notification {
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid transparent;
    border-radius: 10px;
    color: black;
    background-color: #f0f0ff;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 12px 10px;
}

.notification-unread {
    background-color: white;
}

.notification:hover {
    background-color: #f0f0f0;
}

.timestamp {
    font-size: 10px;
}

@media screen and (max-width: 640px) {
    .logo {
        margin-left: 0.4rem;
    }

    .mark-all-as-read {
        padding-right: 0.4rem;
    }

    .mark-all-as-read button {
        height: 2.5rem !important;
    }
}