.p-header {
    font-weight: 700;
    font-size: x-large;
}

.stats {
    display: flex;
    flex-direction: row !important;
}

.stat {
    padding-left: 20px;
    padding-right: 20px;
}

.interests {
    margin-top: 2vh;
    padding-bottom: 2vh;
}

.interest {
    background-color: #6aaecc;
    margin-top: 2px !important;
    margin-bottom: 2px !important;
    padding: 5px;
    border: 2px solid transparent;
    border-radius: 10px;
}

