.p-header {
    font-weight: 700;
    font-size: x-large;
}

.stats {
    display: flex;
    flex-direction: row !important;
}

.p-buttons {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.stat {
    padding-left: 20px;
    padding-right: 20px;
}

.interests {
    margin-top: 1rem;
    padding-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.interest {
    background-color: #6aaecc;
    margin-top: 2px !important;
    margin-bottom: 2px !important;
    padding: 5px;
    border: 2px solid transparent;
    border-radius: 10px;
}

.about-me {
    width: 70%;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 768px) {
    .about-me {
        width: 95%;
        word-wrap: break-word;
        width: 100% !important;
    }

    .interests {
        width: 95%;
    }
}
