.navbar {
    height: 12vh !important;
    background-color: transparent !important;
    border: none !important;
    padding-right: 12px !important;
    font-family: 'Work Sans', sans-serif !important;
}

.navbar-brand img {
    -webkit-user-drag: none;
    user-select: none;
}

@media screen and (max-width: 768px) {
    .navbar {
        background-color: transparent !important;
    }
    .navbar-collapse {
        background-color: rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(2px);
        pointer-events: none;
    }
    .navbar-collapse * {
        font-weight: 700 !important;
        pointer-events: all;
        padding-left: 1vw;
    }
}

body {
    max-width: 100%;
    overflow-x: hidden;
    background-color: #b7c9e2;
    font-family: 'Work Sans', sans-serif;
}

h1 {
    font-weight: 700;
}

.btn, .btn-primary {
    background-color: white !important;
    color: blue;
    border: 2px solid transparent !important;
    border-radius: 10px;
    transition: all 0.5s;
}

.btn:hover {
    color: blue;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
    transform: translateY(-3px);
}

.btn:active {
    transform: translateY(2px);
}

.btn:disabled {
    background-color: lightblue !important;
    color: black !important;
}

.container-main {
    text-align: center;
    padding: 20px;
    margin-top: 10vh;
}

@media (max-width: 768px) {
    .container-main {
        margin-top: 10vh;
    }
}

.welcome {
    padding-top: 50px;
    height: 88vh;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.wave-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave-top svg {
    position: relative;
    display: block;
    width: calc(114% + 1.3px);
    height: 130px;
    transform: rotateY(180deg);
}

.wave-top .shape-fill {
    fill: #FFFFFF;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-control {
    width: 30% !important;
}


.o-profile {
    margin: 15vh 2.5vw;
    background-color: aliceblue;
    border: 5px solid transparent;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-pic {
    width: 125px;
    height: 125px;
    border: 2px solid white;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    background-color: #f0f0f0;
}

.profile-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    -webkit-user-drag: none;
    user-select: none;
}

.btn-prof {
    background-color: #b7c9e2 !important;
    color: black !important;
}

.line-form {
    border: none !important;
    background: transparent !important;
    outline: none !important;
    border-bottom: 2px solid black !important;
}

.line-form:focus {
    box-shadow: none !important;
    outline: none !important;
}


#interestList {
    margin-top: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}

.textbox-area {
    justify-content: center;
}

.centered {
    display: flex;
    justify-content: center;
}

textarea {
    bottom: 0 !important;
}